<div id="actions-backdrop" class="actions-backdrop" hidden>
  <div class="actions-panel" id="actions-panel">
    <div class="picker-heading">Pane</div>
    <button type="button" class="picker-row" data-key="n" data-act="new-column">
      <span>New column</span><span class="row-keys"><kbd>n</kbd></span>
    </button>
    <button type="button" class="picker-row" data-key="s" data-act="split">
      <span>Split column</span><span class="row-keys"><kbd>s</kbd></span>
    </button>
    <button type="button" class="picker-row" data-key="h" data-act="col-prev">
      <span>Prev column</span><span class="row-keys"><kbd>h</kbd></span>
    </button>
    <button type="button" class="picker-row" data-key="l" data-act="col-next">
      <span>Next column</span><span class="row-keys"><kbd>l</kbd></span>
    </button>
    <button type="button" class="picker-row" data-key="k" data-act="pane-prev">
      <span>Prev pane</span><span class="row-keys"><kbd>k</kbd></span>
    </button>
    <button type="button" class="picker-row" data-key="j" data-act="pane-next">
      <span>Next pane</span><span class="row-keys"><kbd>j</kbd></span>
    </button>
    <button type="button" class="picker-row" data-key="x" data-act="close">
      <span>Close</span><span class="row-keys"><kbd>x</kbd></span>
    </button>
  </div>
</div>
